.likeButton, .deleteButton, .editButton {
  font-size: 85%;
  margin-top: 1rem;
}

.likeButton:after {
  content: " Like"
}

.deleteButton:after {
  content: " Delete"
}

.editButton:after {
  content: " Edit"
}

.Toot {
  border: 1px solid #ededed;
  margin: 1rem;
  padding: 1rem;
}
