.TootForm {
  margin-bottom: 2rem;
  padding: 1rem;
}

.button {
  font-size: 150%;
  border-radius: 5px;
  border: 1px solid rgb(0, 123, 255);
  background: #007bff;
  color: white;
}

.input {
  padding: 0.5rem;
  margin: 1rem 0rem;
}
